/* Custom theme colors */
:root {
  --vp-c-brand-1: #047857;
  --vp-c-brand-2: #065f46;
  --vp-c-brand-3: #064e3b;
  --vp-c-brand-soft: rgba(4, 120, 87, 0.14);
  
  /* Soften light mode background */
  --vp-c-bg: #f4f4f2;
  --vp-c-bg-soft: #ebebea;
  --vp-c-bg-mute: #dddcd9;
}

.dark {
  --vp-c-brand-1: #34d399;
  --vp-c-brand-2: #6ee7b7;
  --vp-c-brand-3: #10b981;
  --vp-c-brand-soft: rgba(52, 211, 153, 0.16);

  --vp-c-bg: unset;
  --vp-c-bg-soft: unset;
  --vp-c-bg-mute: unset;
}
